name: Lint source tree on pull request on dev branch

on:
  pull_request:
    paths: [ '*.rpy' ]
    branches: [ dev ]
  push:
    branches: [ dev ]

jobs:
  compile-submod:
    runs-on: ubuntu-latest

    env:
      SDL_AUDIODRIVER: dummy

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Load environment variables from file
        run: cat build.env >> $GITHUB_ENV

      - name: Restore DDLC/MAS and Ren'Py SDK cache
        id: cache
        uses: actions/cache@v3
        with:
          key: toolchain-r${{ env.RENPY_RELEASE }}-m${{ env.MAS_RELEASE }}-d${{ env.DDLC_RELEASE }}
          path: |
            build/ddlc
            build/renpy

      - name: Download DDLC/MAS package
        if: '!steps.cache.outputs.cache-hit'
        env:
          DL_CREDENTIALS: ${{ secrets.DL_CREDENTIALS }}
        run: .github/scripts/fetch-ddlc-mas.sh

      - name: Download Ren'Py SDK
        if: '!steps.cache.outputs.cache-hit'
        run: .github/scripts/fetch-renpy-sdk.sh

      - name: Store submod version in an environment variable
        run: echo "VERSION=$(.github/scripts/extract-version.sh)" >> $GITHUB_ENV

      - name: Compile submod
        run: .github/scripts/compile-submod.sh
